.p-button-outlined-custom {
  margin-left: 10px !important;
  padding: 10px 58px !important;
  font-weight: regular !important;
  font-size: 21px !important;
  letter-spacing: normal;
}

.regular-button-18px {
  font-weight: regular !important;
  font-size: 18px !important;
}
